body::after {
  content: 'hello';
  position: absolute;
  right: 90vw;
}

.bespoke-parent::after {
  content: '';
  background: url(images/canva.svg) no-repeat 50% 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  opacity: 0.8;
  bottom: 25px;
  left: calc(50% - 60px);
}

.bespoke-slide {
  height: auto;
  overflow: hidden;
}

.bespoke-slide a, .bespoke-slide a:visited {
  color: #a9ff6a;
}

.bespoke-parent .bespoke-slide h1 {
  font-size: 3em;
}

.bespoke-slide ul, .bespoke-slide ol {
  background: #232323;
  padding: 3vh 2vw;
  border-radius: 10px;
  font-size: 0.8em;
  margin: 0;
}

.bespoke-slide ul li {
  color: #efefef;
  margin: 0 4vw;
}

h2 + ul, h2 + ol {
  transform: translateY(2vh);
}

.bespoke-slide .bottom-heading {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin-left: -5%;
  padding: 20px 0 40px;
}

.bespoke-slide {
  justify-content: unset;
}

.bespoke-slide h1 {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  font-size: 2em;
  width: 70vw;
  margin: 0 auto;
}

.bespoke-slide h1 + ul {
  background: rgba(0, 0, 0, 0.8);
  height: 80%;
}

.bespoke-slide ul ul, .bespoke-slide ul ol {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.bespoke-slide ul:only-child {
  margin: auto;
}

img.flowlogo {
  width: 20vw;
  position: absolute;
  bottom: 18vh;
  left: 30vw;
}

h2 + pre {
  margin-top: 20px;
}

/* remove slide transition */

.bespoke-parent {
  transition: none;
}

.bespoke-bullet {
  opacity: 1.0;
  transition: 0.1s ease-in;
}

.bespoke-bullet.bespoke-bullet-inactive {
  opacity: 0.1;
  transform: translateY(0);
}

/* image backgrounds */

.bespoke-slide .cc-image {
  width: 100%;
  height: 100%;
  margin: -5% 0 0 -5%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.bespoke-slide .cc-image > img {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  margin: -10px;
  object-fit: cover;
}

.bespoke-slide[data-cc-url]::after {
  content: attr(data-cc-author) ' ⇢ ' attr(data-cc-url);
  background: rgba(0, 0, 0, 0.2);
  padding: 40px 0;
  font-size: 0.6em;
  color: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -5%;
}

.bespoke-slide .cc-image.blurred > img {
  filter: blur(3px);
}

.bespoke-slide .cc-image.heavyblur > img {
  filter: blur(7px);
}

/* presentation headers */

body::after {
  content: '@DamonOehlman';
  color: #a9ff6a;
  background: 'black';
  font-family: 'Source Code Pro';
  position: absolute;
  padding: 10px 0;
  font-size: 0.9em;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

/* last slide, resources */

ul.resources {
  border: 0;
  list-style: none;
}

ul.resources li {
  /*border: 2px solid white;*/
  padding: 5px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #305b79;
}

ul.resources label {
  display: inline-block;
  width: 30%;
  font-weight: bold;
}

ul.resources a, ul.resources a:visited {
  color: white;
}

/* typed js users slide */

.bespoke-slide.typedjs-users a, .bespoke-slide.typedjs-users a:visited {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  font-size: 1.6em;
  width: 100%;
}

/* last slide */
/*
.icon.question::after {
}*/
